@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Readex Pro;
  src: url(/Fonts/readexpro/ReadexPro-Regular.ttf);
}

.readex {
  font-family: Readex Pro;
}

@font-face {
  font-family: Sen;
  src: url(/Fonts/sen/Sen-Regular.ttf);
}

.sen {
  font-family: Sen;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  scrollbar-width: thin;
}



.featured_ellipse_right {
  position: absolute;
  top: 10;
  right: -20%;
}

.featured_ellipse_left {
  position: absolute;
  top: -100;
  left: 0%;
}

.featured_left_rings {
  position: absolute;
  top: 40%;
  left: 0%;
}



@media screen and (min-width:1500px) {
  .featured_ellipse_right {
    right: -10%;
  }

  .featured_ellipse_left {
    left: 5%;
  }
}

@media screen and (min-width:1800px) {
  .featured_ellipse_right {
    right: 1%
  }

  .featured_ellipse_left {
    left: 0%
  }
}

@media screen and (min-width: 1224px) {
  .featured_left_rings {
    left: 5%;
    top: 37%;
  }
}


.featured_ellipse_left {
  position: absolute;
  top: 10;
  left: -15%;
}

.ani {
  transition: transform 0.5s ease;
}

.ani:hover {
  transform: scale(1.1);
}

.anilogo {
  transition: transform 0.5s ease;
}

.anilogo:hover {
  transform: scale(1.3);
}

.anireverse {
  transition: transform 0.5s ease;
}

.anireverse:hover {
  transform: scale(0.9);
}

@keyframes float {
  0% {

    transform: translatey(0px);
  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

.planet {
  animation: float 3s ease-in-out infinite;
}

@keyframes shine {
  0% {

    transform: scale(1);
  }

  50% {

    transform: scale(1.2);
  }

  100% {

    transform: scale(1);
  }
}

.star {
  animation: shine 2s ease-in-out infinite;
}

@keyframes moveup {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

.moveup {
  animation: moveup 1s ease-out;
}

.bgchange {
  transition: all 0.5s ease;
  background-color: black;
}

.bgchange:hover {
  background-color: #0075FF;
}

.mob-width {
  width: 60px !important;
}


@media screen and (max-width:1080px) {
  .mob-img-size {
    width: 600px;
  }

  .mob-img-size2 {
    width: 200px;
  }
}

/* body reposnive */

@media screen and (min-width:1080px) and (max-width:1300px) {
 .responsive-body-padding{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
 }
 .responsive-cutting-edge-margin{
  margin-left: 1rem !important;
 }
 .responsive-cat-text{
  font-size: 0.5rem !important;
 }
}

/* landing responsive */


@media screen and (min-width:1080px) and (max-width:1500px) {
  .responsive-heading-size {
    font-size: 5rem !important;
  }

  .responsive-btn-size {
    width: 180px !important;
  }

  .responsive-padding {
    padding-left: 5px !important;
  }

  .responsive-margin {
    margin-left: 10px !important;
  }

  .responsive-mt {
    margin-top: 4rem !important;
  }

  .responsive-font {
    font-size: 1rem !important;
  }

  .responsive-planet {
    left: -2rem !important;
  }

  .responsive-logo-size {
    width: 40px !important;
    height: 40px !important;
  }

  .responsive-logo-container-margin {
    margin-right: 0.5rem !important;
  }

}

@media screen and (min-width:1080px) and (max-width:1500px) {
  .responsive-hide {
    display: none !important;
  }

  .responsive-card-width {
    width: 40%;
  }
}

@media screen and (min-width:1501px) {
  .responsive-hide {
    display: none !important;
  }

  .responsive-card-width {
    width: 32%;
  }
}


/* nexus responsive */

@media screen and (min-width:1080px) and (max-width:1500px) {
  .responsive-display {
    display: block !important;
  }

  .responsive-width {
    width: 100% !important;
  }

  .responsive-nexus-padding {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .responsive-salescard-width {
    min-width: 315px !important;
  }
}

.active {
  background-color: #0075FF;
}

.glow {
  transition: all 0.6s ease-in-out;
}

.glow:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(45, 255, 196, 0.57);
  -moz-box-shadow: 0px 0px 24px 0px rgba(45, 255, 196, 0.57);
  box-shadow: 0px 0px 24px 0px rgba(104, 157, 255, 0.57);
}

.cardglow {
  transition: all 0.6s ease-in-out;
}

.cardglow:hover {
  transform: scale(0.95);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(45, 255, 196, 0.57);
  -moz-box-shadow: 0px 0px 24px 0px rgba(45, 255, 196, 0.57);
  box-shadow: 0px 0px 24px 0px rgba(104, 157, 255, 0.57);
}

.big-glow {
  transition: all 0.6s ease-in-out;
}

.big-glow:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(45, 255, 196, 0.57);
  -moz-box-shadow: 0px 0px 24px 0px rgba(45, 255, 196, 0.57);
  box-shadow: 0px 0px 28px 4px rgba(104, 157, 255, 0.57);
}



@media screen and (min-width:1080px) and (max-width:1300px) {
  .responsive-absolute-btn-width {
    width: 150px !important;
  }

  .responsive-absolute-btn-pos {
    left: 10.5vw !important;
  }

}

@media screen and (min-width:1900px) {
  .responsive-absolute-btn-width {
    width: 230px !important;
  }

  .responsive-absolute-btn-pos {
    left: 8.7vw !important;
  }
}

@media screen and (min-width:1400px) {
  .responsive-absolute-btn-width {
    width: 180px !important;
  }

  .responsive-absolute-btn-pos {
    left: 9.5vw !important;
  }
}

@media screen and (min-width:1500px) {
  .responsive-feature {
    max-width: 1200px !important;
  }

  .responsive-upcoming-width {
    width: 1200px !important;
  }

  .responsive-featureRight-img {
    width: 700px !important;
  }

  .responsive-planet {
    left: 2% !important;
  }

  .responsive-salescard-height {
    min-height: 385px;
  }

  .responsive-salescard-width {
    min-width: 385px !important;
  }
}

@media screen and (min-width:1800px) {
  .responsive-absolute-btn-width {
    width: 230px !important;
  }

  .responsive-absolute-btn-pos {
    left: 8.5vw !important;
  }
}

@media screen and (min-width:2500px) {
  .responsive-absolute-btn-width {
    width: 320px !important;
  }

  .responsive-absolute-btn-pos {
    left: 7.7vw !important;
  }
}

@media only screen and (max-width: 767px) {
  .responsive-absolute-btn-width {
    width: 130px !important;
  }

  .responsive-absolute-btn-pos {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .responsive-absolute-btn-width {
    width: 200px !important;
  }

  .responsive-absolute-btn-pos {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.transition-effect {
  transition: opacity 0.5s ease;
  /* Adjust duration and easing */
  opacity: 0;
  /* Initially hidden */
}

.transition-effect.visible {
  opacity: 1;
  /* Visible when active */
}

* {
  user-select: auto !important;
}

/* dapp css */

@media (min-width: 1080px) and (max-width: 1500px) {
  .responsive-notification-card {
    width: 48%;
  }

  .responsive-notification-cat {
    gap: 12px !important;
  }
  .responsive-inside-path-head{
    font-size: 1rem !important;
  }
  .responsive-inside-path-para{
    font-size: 0.8rem !important;
  }
  .responsive-inside-path-padding{
    padding-left: 0.8rem !important;
    padding-right: 1rem !important;
  }
  .responsive-inside-path-img{
    height: 25px;
    width: 25px;
  }
  .responsive-inside-switch-text{
    font-size: 0.8rem !important;
  }
}

@media (min-width: 1500px) {
  .responsive-notification-card {
    width: 49%;
  }
}

@media (min-width: 2000px) {
  .hide-responsive-img{
    display:none;
  }
}

html {
  --scrollbarBG: #12161A;
  --thumbBG: #023571;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

::-webkit-scrollbar-track {
  background: #12161A !important;
  /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #023571 !important;
  /* Color of the scrollbar handle */
  border-radius: 25px !important;
  /* Radius of the scrollbar handle */
}

.btnanimation{
  background-color: #191F2552 !important;
  transition: all 0.5s ease;
}
.btnanimation:hover{
  background-color: #0075FF !important;
  border: none !important;

}
.insidebtn{
  background-color: black !important;
  transition: all 0.5s ease;
}

.btnanimation:hover .insidebtn {
  background-color: white !important;
}

.arrowbg{
  background-color: #0075FF !important;
  transition: all 0.5s ease;
}

.btnanimation:hover .arrowbg{
  background-color: white !important;
}
.btnanimation:hover .mainarrow {
  stroke: black; /* Change the stroke color to white */
}
.mainarrow{
  stroke: white;
  transition: all 0.5s ease;
  width: 20px;
}