@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Readex Pro;
  src: url(/Fonts/readexpro/ReadexPro-Regular.ttf);
}

.readex {
  font-family: Readex Pro;
}

@font-face {
  font-family: Sen;
  src: url(/Fonts/sen/Sen-Regular.ttf);
}

.sen {
  font-family: Sen;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}



.featured_ellipse_right {
  position: absolute;
  top: 10;
  right: -20%;
}

.featured_ellipse_left {
  position: absolute;
  top: -100;
  left: 0%;
}

.featured_left_rings {
  position: absolute;
  top: 40%;
  left: 0%;
}



@media screen and (min-width:1500px) {
  .featured_ellipse_right {
    right: -10%;
  }

  .featured_ellipse_left {
    left: 5%;
  }
}

@media screen and (min-width:1800px) {
  .featured_ellipse_right {
    right: 1%
  }

  .featured_ellipse_left {
    left: 0%
  }
}

@media screen and (min-width: 1224px) {
  .featured_left_rings {
    left: 5%;
    top: 37%;
  }
}


.featured_ellipse_left {
  position: absolute;
  top: 10;
  left: -15%;
}

.ani {
  transition: transform 0.5s ease;
}

.ani:hover {
  transform: scale(1.1);
}

.anireverse {
  transition: transform 0.5s ease;
}

.anireverse:hover {
  transform: scale(0.9);
}

@keyframes float {
  0% {

    transform: translatey(0px);
  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

.planet {
  animation: float 3s ease-in-out infinite;
}

@keyframes shine {
  0% {

    transform: scale(1);
  }

  50% {

    transform: scale(1.2);
  }

  100% {

    transform: scale(1);
  }
}

.star {
  animation: shine 2s ease-in-out infinite;
}

.bgchange {
  transition: all 0.5s ease;
  background-color: black;
}

.bgchange:hover {
  background-color: #0075FF;
}

.mob-width {
  width: 60px !important;
}


@media screen and (max-width:1080px) {
  .mob-img-size {
    width: 600px;
  }

  .mob-img-size2 {
    width: 200px;
  }
}


/* landing responsive */


@media screen and (min-width:1080px) and (max-width:1500px) {
  .responsive-heading-size {
    font-size: 5rem !important;
  }

  .responsive-btn-size {
    width: 180px !important;
  }

  .responsive-padding {
    padding-left: 5px !important;
  }

  .responsive-margin {
    margin-left: 10px !important;
  }

  .responsive-mt {
    margin-top: 4rem !important;
  }

  .responsive-font {
    font-size: 1rem !important;
  }


  .responsive-logo-size{
    width: 40px !important;
    height: 40px !important;
  }
  .responsive-logo-container-margin{
    margin-right: 0.5rem !important;
  }
  
}

@media screen and (min-width:1080px) and (max-width:1500px) {
  .responsive-hide {
    display: none !important;
  }
  .responsive-card-width{
    width: 40%;
  }
}

@media screen and (min-width:1501px) {
  .responsive-hide {
    display: none !important;
  }
  .responsive-card-width{
    width: 32%;
  }
}


/* nexus responsive */

@media screen and (min-width:1080px) and (max-width:1500px) {
  .responsive-display {
    display: block !important;
  }

  .responsive-width {
    width: 100% !important;
  }

  .responsive-nexus-padding {
    padding-left: 2rem !important;
    padding-right: 2rem !important; 
  }
}

.active{
  background-color: #0075FF;
}